*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF ;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #7e1d1a;
    padding: 15px 30px;
    margin-bottom: 0px !important;
}
.logo img {
    width: 70px;
}

.logo h1{
    margin: 20px;
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
    position: absolute;
    top: 12px;
    left: 100px;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: transparent;
    transition: 0.15s ease-in-out;
    text-decoration: underline;
}
.menu li a:hover:after {
    width: 100%;
    text-decoration: underline;
}

.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
} 

#check {
    display: none;
}

@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        height: 100vh;
        z-index: 100;
        background-color: transparent;
        position: absolute;
        top: 100%;
        right: -100%;
        width: 80%;
        background: #000;
        display: flex;
        justify-content: center;
        transition: all .50s ease;
    }
    .menu li {
        margin-top: 40px;
    }
    .menu li a {
        padding: 10px;
    }
    .open-menu , .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0%;
    }
}

/* nav */

.container{
    width: 100%;
    padding: 10px 0px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.container navbar{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container navbar::after{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 100px;
    filter: blur(0.5px);
}
.topnav {
  overflow: hidden;
  background-color: #fff
}

.topnav a {
  float: left;
  display: block;
  color: ##7e1d1a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #fff;
  color: #7e1d1a;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: #7e1d1a;
  padding: 14px 16px;
  background-color: #fff;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #fff;
  color: #7e1d1a;
  text-decoration: underline;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: #7e1d1a;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* Style tab links */

.tabcontent {
  color: black;
  display: flex;
  padding: 30px 30px;
  height: 100%;
  text-align: center;
}

/* Gallery */

.wrapper{
    width: 100%;
    min-height: auto;
}

.wrapper ul{
    list-style: none;
    padding: 0;
}

.wrapper ul:after{
    content: "";
    display: table;
    clear: both;
}

.wrapper ul li{
    width: calc(30% - 5px);
    margin: 30px 15px 0;
    height: 250px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}

.wrapper ul li:hover{
    transform: scale(1.1);
}

.wrapper ul li:nth-child(1n+4){
    max-height: 0;s
    opacity: 0;
    transition: 0.2s ease-in;
}

.wrapper .btn-area{
    display: block;
    background: #7e1d1a;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-weight: 900;
    width: 150px;
    line-height: 50px;
    margin: 20px auto 0;
    border-radius: 50px;
}

.wrapper .btn-area .btn2{
    display: none;
}

.wrapper #btnBox{
    display: none;
}

.wrapper #btnBox:checked~ul li:nth-child(1n+4){
    max-height: 1000px;
    opacity: 1;
    transition: 0.5s ease;
}

.wrapper #btnBox:checked~.btn2{
    display: block;
}

.wrapper #btnBox:checked~.btn1{
    display: block;
}

/* floor plan wrapper */

.wrapper{
    text-align: center;
}
.section-header{
    text-transform: uppercase;
    line-height: 70px;
    padding-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
    color: #000;
    letter-spacing: 2px;
    
}

.content h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.main-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-main-content-gap: 25px;
    grid-column-gap: 15px;
}

.main-content .box{
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
    overflow: hidden;    
}

.main-content .box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.main-content .box:hover:before{
    top: 0;
    right: calc(100% - 5px);
    z-index: 10;
}

.main-content .box .img-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    transition: all 0.5s ease-in-out;   
}
.main-content .box:hover .img-text{
    top: 0;
    right: 0;
}
/* floor plan wrapper */

.wrapper{
    text-align: center;
}
.section-header{
    text-transform: uppercase;
    line-height: 70px;
    padding-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
    color: #000;
    letter-spacing: 2px;
    
}

.content h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.main-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-main-content-gap: 25px;
    grid-column-gap: 15px;
}

.main-content .box{
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
    overflow: hidden;    
}

.main-content .box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.main-content .box:hover:before{
    top: 0;
    right: calc(100% - 5px);
    z-index: 10;
}

.main-content .box .img-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    transition: all 0.5s ease-in-out;   
}
.main-content .box:hover .img-text{
    top: 0;
    right: 0;
}

/* The footer is fixed to the bottom of the page */

footer {
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}

.footer-distributed {
    background-color: #7e1d1a;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 32px 'Verdana', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #000;
    color: #ffffff;
    font-size: 20px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #fff;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}  